body{
  background: url("../images/concrete_seamless.png");
}

.navbar{
  font-family: Georgia, Times, "Times New Roman", serif;
}

.navbar.navbar-center {
  left: 50%;
  transform: translatex(-50%);
}

.navbar-nav.navbar-right {
  left: 75%;
  transform: translatex(-50%);
}


